<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>ALF Backend 3.1: Examples</title>
    <link rel="stylesheet" type="text/css" href="index.css"></link>
  </head>
  <body>
    <h1>ALF Backend 3.1: Examples</h1>
    <% entries.each do |e| %>
    <div class="filename"><%= e.name %></div>
    <% e.links.each do |l| %>
    <div class="link"><a href=<%= l.href %>><%= l.name %></a></div>
    <% end %>
    <% end %>
    </body>
</html>
